---
layout: page
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom styles -->
    <link href="customHome/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CUSTOM INCLUDE FOR CITY LISTING, COURTSEY https://css-tricks.com-->
    <script>
    $(function() {
        $("#state-choice").change(function() {
            $("#city-choice").load("cityLists/" + $(this).val() + ".txt");
        });
    });
    </script>
    <script>
    $(function() {
        $("#state-choice2").change(function() {
            $("#city-choice2").load("cityLists/" + $(this).val() + ".txt");
        });
    });
    </script>

    
<!--INCLUDE FOR ZIP CODE lookup, https://github.com/daspecster/ziptastic-jquery-plugin/blob/master/LICENSE-->
<script>
    (function( $ ) {
	var requests = {};
	var zipValid = {
		us: /[0-9]{5}(-[0-9]{4})?/
	};

	$.ziptastic = function(country, zip, callback){
		// If only zip and callback are given default to US
		if (arguments.length == 2 && typeof arguments[1] == 'function') {
			callback = arguments[1];
			zip = arguments[0];
			country = 'US';
		}

		country = country.toUpperCase();
		// Only make unique requests
		if(!requests[country]) {
			requests[country] = {};
		}
		if(!requests[country][zip]) {
			requests[country][zip] = $.getJSON('https://zip.getziptastic.com/v2/' + country + '/' + zip);
		}

		// Bind to the finished request
		requests[country][zip].done(function(data) {
			if (typeof callback == 'function') {
				callback(data.country, data.state, data.state_short, data.city, zip);
			}
		});

		// Allow for binding to the deferred object
		return requests[country][zip];
	};

	$.fn.ziptastic = function( options ) {
		return this.each(function() {
			var ele = $(this);

			ele.on('keyup', function() {
				var zip = ele.val();

				// TODO Non-US zip codes?
				if(zipValid.us.test(zip)) {
					$.ziptastic(zip, function(country, state, state_short, city) {
						// Trigger the updated information
						ele.trigger('zipChange', [country, state, state_short, city, zip]);
					});
				}
			});
		});
	};
})( jQuery );

    </script>

    <script type="text/javascript">
    (function($) {
                $(function() {
                    var duration = 500;
                    var elements = {
                        country: $('#country'),
                        state: $('#state'),
                        state_short: $('#state-short'),
                        city: $('#city'),
                        zip: $('#zip')
                    }
                    // Initially hide the city/state/zip
                    elements.country.parent().hide();
                    elements.state.parent().hide();
                    elements.state_short.parent().hide();
                    elements.city.parent().hide();
                    // Initialize the ziptastic and bind to the change of zip code
                    elements.zip.ziptastic()
                        .on('zipChange', function(evt, country, state, state_short, city, zip) {
                            // Country
                            //      elements.country.val(country).parent().show(duration);
                            // State
                            elements.state_short.val(state_short).parent().show(duration);
                            elements.state.val(state).parent().show(duration);
                            // City
                            elements.city.val(city).parent().show(duration);
                        });
                });
            }(jQuery));

    </script>

    <script type="text/javascript">
    (function($) {
                $(function() {
                    var duration = 500;
                    var elements = {
                        country: $('#countryW'),
                        state: $('#stateW'),
                        state_short: $('#state-shortW'),
                        city: $('#cityW'),
                        zip: $('#zipW')
                    }
                    // Initially hide the city/state/zip
                    elements.country.parent().hide();
                    elements.state.parent().hide();
                    elements.state_short.parent().hide();
                    elements.city.parent().hide();
                    // Initialize the ziptastic and bind to the change of zip code
                    elements.zip.ziptastic()
                        .on('zipChange', function(evt, country, state, state_short, city, zip) {
                            // Country
                            //      elements.country.val(country).parent().show(duration);
                            // State
                            elements.state_short.val(state_short).parent().show(duration);
                            elements.state.val(state).parent().show(duration);
                            // City
                            elements.city.val(city).parent().show(duration);
                        });
                });
            }(jQuery));

    </script>


       <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="container">
          <p>
          Welcome to GoodieLooks, a new innovative way to find the care for your hair that you deserve. Our goal is to make you look as good as you feel and feel good as you look. We will be listing a broad range of barbershops and hair salons, as well as tools such as pictures and a rating system to find the seat that you need to be in.
          </p>
      </div>

      <!-- My Added homepage search modules -->
      <div class="container">
        <div class="row-fluid">
        <div class="col-xs-6 text-center"><div id="mSearch" div class="jumbotron">{% include bPHP.php %}</div></div>
        <div class="col-xs-6 text-center"><div id="wSearch" div class="jumbotron">{% include wSearch.html %}</div></div>
        </div>
      </div>

    </div>


    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
