---
layout: page
---

        <div class="container" id="welcome">
            <h1>
          Welcome to Good Looking Out, a new innovative way to find the care for your hair that you deserve. Our goal is to make you look as good as you feel and feel good as you look. We will be listing a broad range of barbershops and hair salons, as well as tools such as pictures and a rating system to find the seat that you need to be in.
            </h1>
        </div>

        <!-- My Added homepage search modules -->
        <div class="container">
            <div class="row-fluid">
                <div class="col-xs-6 text-center"><div id="mSearch" div class="jumbotron">{% include bPHP.php %}</div></div>
                <div class="col-xs-6 text-center"><div id="wSearch" div class="jumbotron">{% include wSearch.html %}</div></div>
            </div>
        </div>

