<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom styles -->
    <link href="/assets/themes/customHome/css/style.css" rel="stylesheet" type="text/css" media="all">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- CUSTOM INCLUDE FOR CITY LISTING, COURTSEY https://css-tricks.com-->
    <script>
    $(function() {
        $("#state-choice").change(function() {
            $("#city-choice").load("cityLists/" + $(this).val() + ".txt");
        });
    });
    </script>
    <script>
    $(function() {
        $("#state-choice2").change(function() {
            $("#city-choice2").load("cityLists/" + $(this).val() + ".txt");
        });
    });
    </script>

    
<!--INCLUDE FOR ZIP CODE lookup, https://github.com/daspecster/ziptastic-jquery-plugin/blob/master/LICENSE-->
<script>
    (function( $ ) {
	var requests = {};
	var zipValid = {
		us: /[0-9]{5}(-[0-9]{4})?/
	};

	$.ziptastic = function(country, zip, callback){
		// If only zip and callback are given default to US
		if (arguments.length == 2 && typeof arguments[1] == 'function') {
			callback = arguments[1];
			zip = arguments[0];
			country = 'US';
		}

		country = country.toUpperCase();
		// Only make unique requests
		if(!requests[country]) {
			requests[country] = {};
		}
		if(!requests[country][zip]) {
			requests[country][zip] = $.getJSON('https://zip.getziptastic.com/v2/' + country + '/' + zip);
		}

		// Bind to the finished request
		requests[country][zip].done(function(data) {
			if (typeof callback == 'function') {
				callback(data.country, data.state, data.state_short, data.city, zip);
			}
		});

		// Allow for binding to the deferred object
		return requests[country][zip];
	};

	$.fn.ziptastic = function( options ) {
		return this.each(function() {
			var ele = $(this);

			ele.on('keyup', function() {
				var zip = ele.val();

				// TODO Non-US zip codes?
				if(zipValid.us.test(zip)) {
					$.ziptastic(zip, function(country, state, state_short, city) {
						// Trigger the updated information
						ele.trigger('zipChange', [country, state, state_short, city, zip]);
					});
				}
			});
		});
	};
})( jQuery );

    </script>

    <script type="text/javascript">
    (function($) {
                $(function() {
                    var duration = 500;
                    var elements = {
                        country: $('#country'),
                        state: $('#state'),
                        state_short: $('#state-short'),
                        city: $('#city'),
                        zip: $('#zip')
                    }
                    // Initially hide the city/state/zip
                    elements.country.parent().hide();
                    elements.state.parent().hide();
                    elements.state_short.parent().hide();
                    elements.city.parent().hide();
                    // Initialize the ziptastic and bind to the change of zip code
                    elements.zip.ziptastic()
                        .on('zipChange', function(evt, country, state, state_short, city, zip) {
                            // Country
                            //      elements.country.val(country).parent().show(duration);
                            // State
                            elements.state_short.val(state_short).parent().show(duration);
                            elements.state.val(state).parent().show(duration);
                            // City
                            elements.city.val(city).parent().show(duration);
                        });
                });
            }(jQuery));

    </script>

    <script type="text/javascript">
    (function($) {
                $(function() {
                    var duration = 500;
                    var elements = {
                        country: $('#countryW'),
                        state: $('#stateW'),
                        state_short: $('#state-shortW'),
                        city: $('#cityW'),
                        zip: $('#zipW')
                    }
                    // Initially hide the city/state/zip
                    elements.country.parent().hide();
                    elements.state.parent().hide();
                    elements.state_short.parent().hide();
                    elements.city.parent().hide();
                    // Initialize the ziptastic and bind to the change of zip code
                    elements.zip.ziptastic()
                        .on('zipChange', function(evt, country, state, state_short, city, zip) {
                            // Country
                            //      elements.country.val(country).parent().show(duration);
                            // State
                            elements.state_short.val(state_short).parent().show(duration);
                            elements.state.val(state).parent().show(duration);
                            // City
                            elements.city.val(city).parent().show(duration);
                        });
                });
            }(jQuery));

    </script>
  </head>

  

