        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="{{ page.url }}Navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}/">Good Looking Out!</a>
                </div>
                <div class="collapse navbar-collapse" id="{{ page.url }}Navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ site.url }}/">Home</a></li>
                        <li><a href="{{ site.url }}/about/">About Us</a></li>
                    <li><a href="{{ site.url }}/advertise/">Advertise Your Shop</a></li>
                    <li><a href="{{ site.url }}/contact/">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Create An Account</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
