<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
        <h4>Lighter, Secondary Text</h4>
        <p>The small element is used to create a lighter, secondary text in any heading:</p>       
        <h4>h4 heading <small>secondary text</small></h4>
        <h5>h5 heading <small>secondary text</small></h5>
        <h6>h6 heading <small>secondary text</small></h6>
</div>

</body>
</html>
