html,
body {
    font-family: Verdana, Arial, Tahoma, Lucida, "Courier New", sans-serif;
  background-image: url("/assets/themes/customHome/images/bkg.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* The html and body elements cannot have any padding or margin. */
}

html p{
    color: #ffcc00
}

/* Wrapper for page content to push down footer */
#wrap {
  
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

form .zip-wrap {
  display: block !important;
}


#mSearch {
  background-image: url("/assets/themes/customHome/images/BarberStripes.jpg");
  opacity: 0.8;
  border-width: thick;
  font-family: Verdana, Arial, Tahoma, Lucida, "Courier New", sans-serif;
  border-style: solid;
  border-color: #ffcc00;
}

#mSearchContent h2 {
    color: #ffcc00
}
#mSearchContent h1 {
    color: #ffcc00
}
#mSearchContent label {
    color: #ffcc00
}

#mSearchContent p {
    color: #ffcc00
}


#mSearch p{
    color: #ffcc00
}

#mSearch.btn {
    color: #ffcc00
}



#wSearch {
  background-image: url("/assets/themes/customHome/images/Beauty-3.jpg");
  border-width: thick;
  font-family: Verdana, Arial, Tahoma, Lucida, "Courier New", sans-serif;
  opacity: 0.8;
  border-style: solid;
  border-color: #ff66cc;
}

#wSearchContent h2 {
    color: #009933
}
#wSearchContent h1 {
    color: #009933

}

#wSearchContent label {
    color: #009933
}
/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #FFCC00;
  opacity: 0.4;
}

#footer p {
  line-height: 30px;
  margin-bottom: 0px;
  color: #000000
}


/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
